<div class="bank-product-card-body">
    <div class="bank-product-card-body__account">
        <p class="bank-product-card-body__type">{{ productTypeName | translate }}</p>
        <label class="bank-product-card-body__number-account">Nro. {{ number }}</label>
    </div>
    <div class="bank-product-card-body__value">
        <label class="bank-product-card-body__amount-label">{{ productTypeName | translate }}</label>
        <p class="bank-product-card-body__amount">{{ value }}</p>
    </div>
</div>