@import "../../../assets/styles/variables.scss";

:host {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.bank-products {
    height: 1200px;
}