@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

:host {
    margin-bottom: $space-big-1;
}

.bank-product-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 875px;
    overflow: scroll;
    width: 100%;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include widescreen {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include fullhd {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
