
@charset 'utf-8';
@import "../node_modules/normalize.css/normalize.css";
@import "./assets/styles/reset.scss";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/layout.scss";
@import "./assets/styles/components/toggle-switch.scss";


$body-fonts: 'Open Sans', sans-serif;

body {
  font-family: $body-fonts;
  font-weight: normal;
  height: 100vh;
}