// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen-width: 1300px;
$fullhd-width: 1900px;

// App varaibles
$header-height: 100px !default;
$sidebar-width: 150px !default;
$logo-path: "../../../assets/images/bank-logo.svg";

// Text sizes
$text-extra-small: 8px;
$text-small: 12px;
$text-medium-1: 14px;
$text-medium-2: 16px;
$text-medium-3: 18px;
$text-large: 20px;
$text-extra-large: 24px;

// spaces
$space-extra-small: 4px;
$space-smaller: 8px;
$space-small: 12px;
$space-medium-1: 16px;
$space-medium-2: 20px;
$space-large: 28px;
$space-extra-large: 36px;
$space-big-1: 44px;
$space-big-2: 56px;
$space-big-3: 64px; 
$space-big-4: 72px;
$space-big-4: 96px;

// colors
$abbey: #51595E;